In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("SXP_hour.csv")

In [9]:
df

                 datetime     low    high
0     2021-01-14 14:00:00  0.8865  0.9040
1     2021-01-14 15:00:00  0.8713  0.8946
2     2021-01-14 16:00:00  0.8776  0.8976
3     2021-01-14 17:00:00  0.8870  0.8970
4     2021-01-14 18:00:00  0.8815  0.8894
...                   ...     ...     ...
1996  2021-04-07 18:00:00  3.9540  4.0960
1997  2021-04-07 19:00:00  3.9130  4.1170
1998  2021-04-07 20:00:00  4.0100  4.1600
1999  2021-04-07 21:00:00  4.1180  4.2290
2000  2021-04-07 22:00:00  4.1810  4.2740

[2001 rows x 3 columns]

In [10]:
df = df.iloc[10:]

In [11]:
df.head(30)

               datetime     low    high
10  2021-01-15 00:00:00  0.8780  0.8855
11  2021-01-15 01:00:00  0.8780  0.9010
12  2021-01-15 02:00:00  0.8830  0.9260
13  2021-01-15 03:00:00  0.8925  0.9165
14  2021-01-15 04:00:00  0.8870  0.8990
15  2021-01-15 05:00:00  0.8905  0.9235
16  2021-01-15 06:00:00  0.8834  0.9112
17  2021-01-15 07:00:00  0.8970  0.9390
18  2021-01-15 08:00:00  0.9200  0.9465
19  2021-01-15 09:00:00  0.9210  0.9840
20  2021-01-15 10:00:00  0.9650  0.9965
21  2021-01-15 11:00:00  0.9455  0.9720
22  2021-01-15 12:00:00  0.9090  0.9515
23  2021-01-15 13:00:00  0.9270  0.9630
24  2021-01-15 14:00:00  0.9170  0.9555
25  2021-01-15 15:00:00  0.8490  0.9275
26  2021-01-15 16:00:00  0.8485  0.8948
27  2021-01-15 17:00:00  0.8706  0.8803
28  2021-01-15 18:00:00  0.8580  0.8830
29  2021-01-15 19:00:00  0.8610  0.8790
30  2021-01-15 20:00:00  0.8695  0.8812
31  2021-01-15 21:00:00  0.8760  0.8916
32  2021-01-15 22:00:00  0.8893  0.9021
33  2021-01-15 23:00:00  0.8910  0.9160
34  2021-01-16 00:00:00  0.9111  0.9267
35  2021-01-16 01:00:00  0.9165  0.9645
36  2021-01-16 02:00:00  0.9083  0.9332
37  2021-01-16 03:00:00  0.9045  0.9510
38  2021-01-16 04:00:00  0.9402  0.9567
39  2021-01-16 05:00:00  0.9020  0.9385

In [12]:
di_df = df.set_index(pd.DatetimeIndex(df['datetime'].values))
di_df = di_df.drop(['datetime'],axis=1)

In [13]:
di_df.head(24)

                        low    high
2021-01-15 00:00:00  0.8780  0.8855
2021-01-15 01:00:00  0.8780  0.9010
2021-01-15 02:00:00  0.8830  0.9260
2021-01-15 03:00:00  0.8925  0.9165
2021-01-15 04:00:00  0.8870  0.8990
2021-01-15 05:00:00  0.8905  0.9235
2021-01-15 06:00:00  0.8834  0.9112
2021-01-15 07:00:00  0.8970  0.9390
2021-01-15 08:00:00  0.9200  0.9465
2021-01-15 09:00:00  0.9210  0.9840
2021-01-15 10:00:00  0.9650  0.9965
2021-01-15 11:00:00  0.9455  0.9720
2021-01-15 12:00:00  0.9090  0.9515
2021-01-15 13:00:00  0.9270  0.9630
2021-01-15 14:00:00  0.9170  0.9555
2021-01-15 15:00:00  0.8490  0.9275
2021-01-15 16:00:00  0.8485  0.8948
2021-01-15 17:00:00  0.8706  0.8803
2021-01-15 18:00:00  0.8580  0.8830
2021-01-15 19:00:00  0.8610  0.8790
2021-01-15 20:00:00  0.8695  0.8812
2021-01-15 21:00:00  0.8760  0.8916
2021-01-15 22:00:00  0.8893  0.9021
2021-01-15 23:00:00  0.8910  0.9160

In [14]:
type(di_df.values)

numpy.ndarray

In [15]:
array = di_df.values

In [16]:
di_df.head(24)

                        low    high
2021-01-15 00:00:00  0.8780  0.8855
2021-01-15 01:00:00  0.8780  0.9010
2021-01-15 02:00:00  0.8830  0.9260
2021-01-15 03:00:00  0.8925  0.9165
2021-01-15 04:00:00  0.8870  0.8990
2021-01-15 05:00:00  0.8905  0.9235
2021-01-15 06:00:00  0.8834  0.9112
2021-01-15 07:00:00  0.8970  0.9390
2021-01-15 08:00:00  0.9200  0.9465
2021-01-15 09:00:00  0.9210  0.9840
2021-01-15 10:00:00  0.9650  0.9965
2021-01-15 11:00:00  0.9455  0.9720
2021-01-15 12:00:00  0.9090  0.9515
2021-01-15 13:00:00  0.9270  0.9630
2021-01-15 14:00:00  0.9170  0.9555
2021-01-15 15:00:00  0.8490  0.9275
2021-01-15 16:00:00  0.8485  0.8948
2021-01-15 17:00:00  0.8706  0.8803
2021-01-15 18:00:00  0.8580  0.8830
2021-01-15 19:00:00  0.8610  0.8790
2021-01-15 20:00:00  0.8695  0.8812
2021-01-15 21:00:00  0.8760  0.8916
2021-01-15 22:00:00  0.8893  0.9021
2021-01-15 23:00:00  0.8910  0.9160

In [17]:
di_df.values[2][0]

0.883

In [18]:
lowest = float(array[0][0])
for i in range(24):
    for j in range(2):
        if j % 2 == 1:
            continue
        else:
            if lowest > float(array[i][j]):
                lowest = float(array[i][j])
                
print("m",lowest)

m 0.8485

In [19]:
for i in range(24):
    for j in range(2):
        
        if j % 2 == 0:
            low_row,a = array[i][j],i
        
        if j % 2 == 1:
            
            for k in range(24-i-1):
                #print(array[k][j],low)
                diff = array[k][j] - low_row
                if diff > dummy_diff:
                    dummy_diff = diff
                    #print(dummy_diff,k,low_row,a)
                    h = k
                    l = a
                    
#print(h,l)     
#print(array[h][1],array[l][0])
highest = float(array[h][1])
lowest = float(array[l][0])
percentage = ((highest-lowest)*100)/lowest
profits.append(percentage)

NameError: name 'dummy_diff' is not defined

In [51]:
profits = []
count = 0
for dayz in range(82):
    dummy_diff = 0
    for i in range(24):
        for j in range(2):

            if j % 2 == 0:
                low_row,loc1 = array[i+count][j],(i+count)

            if j % 2 == 1:

                for k in range(24-i):
                    #print(array[k][j],low)
                    diff,loc2 = array[k+count][j] - low_row,(k+count)
                    if diff > dummy_diff:
                        dummy_diff = diff
                        #print(dummy_diff,k,low_row,loc1)
                        h = loc2
                        l = loc1

    #print(h,l)     
    print(array[h][1],array[l][0])
    highest = float(array[h][1])
    lowest = float(array[l][0])
    percentage = ((highest-lowest)*100)/lowest
    profits.append(percentage)
    count += 24

0.9965 0.878
1.01 0.902
1.047 0.925
1.137 0.9490000000000001
1.163 0.9740000000000001
1.037 0.9235
1.018 0.8240000000000001
0.9493 0.7905
1.03 0.878
1.044 0.961
1.109 0.9875
1.044 0.9440000000000001
1.379 1.024
1.369 1.206
1.38 1.101
1.3630000000000002 1.163
1.472 1.251
1.423 1.2819999999999998
1.3869999999999998 1.21
1.5619999999999998 1.321
1.77 1.306
1.935 1.714
1.835 1.558
2.173 1.742
2.4330000000000003 1.982
2.5610000000000004 2.135
2.721 2.124
2.9610000000000003 2.36
2.98 2.623
2.949 2.45
2.72 2.148
2.416 1.8
2.406 2.0869999999999997
2.563 2.147
3.165 2.454
3.682 2.918
3.873 2.6
3.3810000000000002 2.9160000000000004
3.111 2.271
2.8369999999999997 1.66
2.5669999999999997 2.115
2.7430000000000003 2.296
2.385 2.024
2.366 2.2
2.249 1.825
2.278 1.9680000000000002
2.39 2.14
2.763 2.204
2.742 2.2840000000000003
2.437 2.22
2.418 2.256
2.7319999999999998 2.378
2.991 2.517
3.136 2.82
3.407 2.77
3.778 3.0380000000000003
3.6860000000000004 3.06
3.265 2.925
3.345 2.84
3.228 2.762
3.282 2.7119999999999997
3.3 3.065
3.513 3.167
3.986 3.217
4.056 3.55
3.948 3.42
3.8789999999999996 3.3110000000000004
3.505 3.135
3.304 2.63
2.93 2.612
3.116 2.761
3.1439999999999997 2.912
3.344 3.002
3.324 3.0380000000000003
3.758 3.238
3.766 3.228
3.8289999999999997 3.4130000000000003
3.7769999999999997 3.5669999999999997
3.7489999999999997 3.3710000000000004
4.476 3.26
5.362 4.096
5.013999999999999 4.1819999999999995

In [52]:
profits

[13.496583143507978,
 11.973392461197339,
 13.189189189189177,
 19.81032665964172,
 19.40451745379876,
 12.290200324851105,
 23.543689320388342,
 20.088551549652127,
 17.3120728929385,
 8.636836628511976,
 12.303797468354425,
 10.593220338983048,
 34.66796875,
 13.515754560530684,
 25.340599455040866,
 17.19690455717972,
 17.665867306155086,
 10.998439937597523,
 14.628099173553704,
 18.243754731264186,
 35.528330781010716,
 12.893815635939328,
 17.779204107830548,
 24.741676234213553,
 22.754793138244214,
 19.953161592505886,
 28.10734463276836,
 25.466101694915274,
 13.610369805566135,
 20.367346938775494,
 26.629422718808193,
 34.222222222222214,
 15.28509822712029,
 19.375873311597598,
 28.973105134474316,
 26.18231665524331,
 48.96153846153847,
 15.946502057613161,
 36.988110964332904,
 70.90361445783132,
 21.371158392434964,
 19.468641114982603,
 17.83596837944663,
 7.545454545454542,
 23.232876712328775,
 15.752032520325193,
 11.682242990654204,
 25.36297640653356,
 20.052539404553404,
 9.774774774774757,
 7.180851063829805,
 14.886459209419664,
 18.831942789034574,
 11.20567375886526,
 22.99638989169675,
 24.358130348913747,
 20.457516339869294,
 11.623931623931634,
 17.781690140845082,
 16.87183200579291,
 21.01769911504426,
 7.667210440456765,
 10.925165772024,
 23.904258626049117,
 14.253521126760571,
 15.438596491228072,
 17.154938085170617,
 11.802232854864439,
 25.627376425855513,
 12.17457886676876,
 12.857660268018833,
 7.967032967032958,
 11.392405063291143,
 9.41408821593152,
 16.05929586164299,
 16.66666666666666,
 12.188690301787268,
 5.887300252312867,
 11.213289824977728,
 37.30061349693253,
 30.908203124999996,
 19.89478718316595]

In [22]:
di_df

                        low    high
2021-01-15 00:00:00  0.8780  0.8855
2021-01-15 01:00:00  0.8780  0.9010
2021-01-15 02:00:00  0.8830  0.9260
2021-01-15 03:00:00  0.8925  0.9165
2021-01-15 04:00:00  0.8870  0.8990
...                     ...     ...
2021-04-07 18:00:00  3.9540  4.0960
2021-04-07 19:00:00  3.9130  4.1170
2021-04-07 20:00:00  4.0100  4.1600
2021-04-07 21:00:00  4.1180  4.2290
2021-04-07 22:00:00  4.1810  4.2740

[1991 rows x 2 columns]

In [25]:
df_daily = pd.read_csv("SXP_day.csv")

In [26]:
index = len(df_daily) - 1

In [27]:
df_daily.drop(index=index,inplace=True)

In [28]:
df_daily.drop(['low'],axis=1,inplace=True)
df_daily.drop(['high'],axis=1,inplace=True)

In [29]:
df_daily['Percentages'] = profits

In [30]:
df_daily.head(50)

      datetime  Percentages
0   2021-01-15    13.496583
1   2021-01-16    11.973392
2   2021-01-17    10.111732
3   2021-01-18    19.810327
4   2021-01-19    19.404517
5   2021-01-20    12.290200
6   2021-01-21    23.543689
7   2021-01-22    20.088552
8   2021-01-23    17.312073
9   2021-01-24     8.636837
10  2021-01-25    12.303797
11  2021-01-26    10.593220
12  2021-01-27    34.667969
13  2021-01-28    13.515755
14  2021-01-29    25.340599
15  2021-01-30    16.165090
16  2021-01-31    17.665867
17  2021-02-01    10.998440
18  2021-02-02    14.628099
19  2021-02-03    18.243755
20  2021-02-04    35.528331
21  2021-02-05    12.893816
22  2021-02-06    17.779204
23  2021-02-07    24.741676
24  2021-02-08    22.754793
25  2021-02-09    19.953162
26  2021-02-10    25.988701
27  2021-02-11    25.466102
28  2021-02-12    13.610370
29  2021-02-13    20.367347
30  2021-02-14    26.629423
31  2021-02-15    34.222222
32  2021-02-16    15.285098
33  2021-02-17    18.822439
34  2021-02-18    28.973105
35  2021-02-19    26.182317
36  2021-02-20    48.961538
37  2021-02-21    15.946502
38  2021-02-22    36.988111
39  2021-02-23    70.903614
40  2021-02-24    21.371158
41  2021-02-25    19.468641
42  2021-02-26    17.835968
43  2021-02-27     7.545455
44  2021-02-28    23.232877
45  2021-03-01    15.752033
46  2021-03-02    11.682243
47  2021-03-03    25.362976
48  2021-03-04    20.052539
49  2021-03-05     9.774775

In [37]:
len(df_daily)//7

11

In [84]:
def weekly_profit_calculator(df):
    percentages = []
    num_of_week = len(df_daily)//7
    
    moneyL = []
    count = 0
    money = 1
    for week in range(num_of_week):
        dummy_money = 1
        for i in range(7):

            percentage = float(df['Percentages'][i+count])
            dummy_money = dummy_money + dummy_money * percentage/100
        
        
        weekly_percentage = (dummy_money*100)-100
        money = money + money*weekly_percentage/100
        percentages.append(weekly_percentage)
        moneyL.append(money)
        
        count +=7
    print(moneyL)
    print(percentages)
    return moneyL,percentages

In [85]:
moneyL,percentages = weekly_profit_calculator(df_daily)

[2.777209548083665, 8.069998837927068, 28.190815627171865, 108.8343888558338, 446.91264971244993, 3306.4083544258892, 10046.306176401595, 27448.69504499477, 73428.21901912152, 207996.89725159813, 466982.64420004934]
[177.7209548083665, 190.5793998690355, 249.32862065210918, 286.063284919409, 310.6355118182797, 639.8332440474173, 203.84347907159798, 173.22176492560766, 167.51078293068457, 183.26561644840308, 124.51423572687997]

In [44]:
df_daily['Percentages'][1]

11.973392461197339

In [83]:
np.array([x for x in range(1,len(df_daily)//7+1)])

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [102]:
data = {"Percentages":percentages,"Money($)":moneyL}

In [103]:
weekly_df = pd.DataFrame(data,index=[f"{x}th week" for x in range(1,len(df_daily)//7+1)])

In [104]:
weekly_df

           Percentages       Money($)
1th week    177.720955       2.777210
2th week    190.579400       8.069999
3th week    249.328621      28.190816
4th week    286.063285     108.834389
5th week    310.635512     446.912650
6th week    639.833244    3306.408354
7th week    203.843479   10046.306176
8th week    173.221765   27448.695045
9th week    167.510783   73428.219019
10th week   183.265616  207996.897252
11th week   124.514236  466982.644200

In [107]:
symbol = input(":").upper()

:asd

In [108]:
symbol

'ASD'